@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

:root{
    --corFundo:#E0D71A;
    --cor1:#E0BF1B;
    --cor2:#B0E01B;
    --cor3:#5DE01B;
    --coraux:#D4CD82;
}

*{
    font-family: 'Open Sans', sans-serif;
    color:black;
}

body{
    margin: 0;
    background-color: var(--corFundo);
    background-image: none;
}
header{
    display: flex;
    background-color: var(--cor1);
    flex-direction: column;
    height: 150px;
    width: 105%;
    text-align: center;
    border: 1px solid black;

}
header h1{
    margin: auto;
    text-align: center;   
}
header>nav>a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    margin: 50% 0% 0% 0%;
}
main{
    margin: auto;
}
.main{
    background-color: var(--cor1);
    color: #fff;
}
article{
    height: 100%;
    padding: 15px;
    background-color: var(--cor2);
    margin: auto;
    max-width: 800px;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.main{
    color: black;
    text-align: center;
    font-weight: bolder;
}
a{
    color: black;
}
a:hover{
    color: gray;
}
h2{
    color: black;
    margin: 5px;
}
h3{
    margin: 5px;
}

input{
    background-color: transparent;
    border: 3px solid black;
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
}
input:hover{
    background-color: lightgray;
    cursor: pointer;
}

div.frutas.bal>h3{
    color: rgb(129, 129, 0);
}
div.frutas.mac>h3{
    color: red;
}
div.frutas.mel>h3{
    color: rgb(255, 0, 43);
}
div.frutas.toranjo>h3{
    color: rgb(255, 204, 108);
}
div.frutas.mamas>h3{
    color: rgb(250, 135, 89);
}
div{
    border-radius: 7px;
}
div.frutas{
    padding: 5px;
    width: 100%;
    margin: 0;
}
.frutas.bal{
    background-color: rgb(255, 255, 71);
}
.frutas.mac{
    background-color: #ff4e5a6e;
}
.frutas.mel{
    background-color: rgb(242, 115, 83);
}
.frutas.toranjo{
    background-color: rgb(254, 111, 1);
}
.frutas.mamas{
    background-color: rgb(255, 64, 21);
}

footer{
    text-align: center;
}
div.hidden{
    display: none;
}
div.hidden.active{
    display: block;
    margin: auto;
    width: 98%;
    max-width: 800px;
    text-align: justify;
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(84, 199, 38, 0.774);
}
div#tfund{
    padding: 15px;
    background-color: rgba(189, 47, 25, 0.705);
}

@media (max-width:500px) {
    header{
        margin: 0;
    }
    body {
            max-width: 350px;
            margin: 0;
            background-color: var(--corFundo);
            background-image: none;
        }
    article {
            height: 100%;
            padding: 15px;
            background-color: var(--cor2);
            margin: auto;
            max-width: 350px;
            text-align: justify;
            border-radius: 10px;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        }

    div.hidden.active {
        display: block;
        margin: auto;
        width: 95%;
        max-width: 800px;
        text-align: justify;
        border-radius: 10px;
        padding: 15px;
        background-color: rgba(84, 199, 38, 0.774);
        }
}