@charset "UTF-8";
:root{
    --corh:#435966;
    --corfundo:#2D4E61;
    --corM:#508BAD;
    --corx:#67B4E0;
    --corBeg:#E0AD67;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    height: 70px;
    background-image: linear-gradient(to right, var(--corfundo) 30%, var(--corx));
    text-align: center;
    color: #fff;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid rgb(54, 53, 53);
}
nav{
    position: absolute;
    left: 0%;
    top: 60%;
}
nav > a{
    background-color: transparent;
}
body{
    margin: 0;
    padding:0;
    background-image: linear-gradient(to bottom, var(--corfundo), var(--corx));
}
main{
    margin:0px 0px 0px 15px ;
    padding:0px 15px 0px 15px;
    min-width: 80%;
}
a{
    text-decoration: none;
    color: #fff;
    padding: 1px;
    background-color: var(--corM);
    
}
a:hover{
    color: lightgray;
}
section.conteudo{
    
    color: #fff;
    margin: 0;
    padding: 20px;
    text-indent: 20px;
    font-size: 20px;
    text-align: left;
    background-color: var(--corBeg);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.425);
}
section.conteudo.pal2{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
}
#gambiarra, .ima{
    
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: justify;
    background-color: var(--corBeg);
}

div.imgD{
    transform: translateX(-100%);
    text-align: center;
}

div.imgD.show{
    transform: translateX(0%);
    transition: 1s all;
}

.sp1{
    margin-right: 120px;
}

span.gambs2
{
    text-align: justify;
}
img{
    height: 300px;
    width: 500px;
}
div{
    height: auto;
}
div.parallax{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.425);
}
div.parallax.parallax1{
    background-image: url('imagens/programando.jpg');
}
div.parallax.parallax2{
   background-image: url('imagens/notebas.webp');
   background-size: cover;
}

.ima{
    line-height: 1.5em;
    width: 100%;
    padding: 0px;
    position: relative;
}
#gambs{
    margin: 0px 0px 0px 15px;
}
section.paralal{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
div.parallax.parallax3{
    background-image: url('imagens/cafezin.jpg');
    background-position: 50% 50%;
    width: 100%;
    
}
.pimg{
    line-height: normal;
    display: inline-block;
    max-width: 50%;
    padding: 20px;
    margin: 30px 50px 30px 50px;
    font-size: 1.5em;
    text-align: left;
    color: #fff;
    background-color:#435966bb;
}
.img{
    position: absolute;
    left: 3%;
    background-color: var(--corx);
    width: 98%;
    
}
    s{
        color: black;
    }


div.cartao{

    opacity: 0;
    display: inline-block;
    background-color: var(--corfundo);
    height: auto;
    width: 300px;
    padding: 15px;
    margin: 10px;
    text-align: justify;

}
div.cartao.show{
    transition: 1s all;
    display: inline-block;
    opacity: 1.5;
}
.cartao.js{
    background-color: yellow;
}
.cartao.c{
    background-color: #26328c ;
    color: #fff;
}
.cartao.cplusplus{
    background-color: #00417b;
    color: #fff;
}






@media (max-width:600px) {
    main{
        margin: 0;
        padding: 0px 10px 0px 10px;
    }
    section.conteudo{
        font-size: 1.5em;
        
    }
    img {
        width: 250px;
        height: auto;
    }
    section.paralal{
        width: 98%;
    }
    .parallax{
        height: 60vh;
    }
    .pimg {
        font-size: 1.3em;
        display: inline-block;
        width: 70%;
        margin: auto;
    }
    .ima{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #gambs{
        margin: 0px 0px 0px 5px;
    }

}
