@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;300&family=Tilt+Neon&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Arial, Helvetica, sans-serif';
}

:root{

    --corfundo: #003f88d5;
    --corsec:#1999ee;
    --corbotao:#f5c400;
    --coraux:#A88500;
}
body{
    background-image: url(fundoconv.jpg);
    background-size: cover;
    background-color: var(--corfundo);
    height: 98vh;
}

div.container{
    display: flex;
    justify-content: space-between;
}

/*Configurações das divs laterais*/

div.lat{

    width: 17%;
    height: 100vh;
}

/*Main content*/
div.Mct{
    background-color: var(--corfundo);
    padding: 20px;
    margin: 0px;
    text-align: center;
}
div.gambssec{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
img.seta{
    margin: auto;
}
h1,h2,h3{
    color: #fff;
}
form{
    margin: auto;
}
select{
    margin: 50px;
    width: 320px;
    padding: 20px;
    border: none;
    font-size: 20px;
    background-color: var(--corbotao);
}
img{
    width: 70px;
    height: 70px;
}
div.gambs{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
img.seta.dois{
    margin-top: 0px;
}
input.in{
    background-color: var(--corbotao);
    margin: 10px;
    width: 320px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.486);
}
input.in:hover{
    cursor: pointer;
}
input.in:active{
    background-color: #fff;
    color: black;
}
input.in.numb{
    background-color: gray;
    border: 1px solid black;
    
}
div.resC{
    background-color: var(--corfundo);
    width:100% ;
    height: 100px;
}
section.res{
    background-color: var(--coraux);
    border-radius: 15px;
    
    display: none;
    position: absolute;
    top: 70%;
    right: 48%;
    width: 150px;
    height: 50px;
}

.res.active{
    display: block;
    position: absolute;
    left: 46%;
    height: 100px;
    bottom: 0px;
}

.res.active.erro{
    background-color: rgba(255, 48, 48, 0.829);
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.753);
    font-size: larger;
}

.res.active.erro>p{
    margin: auto;
}

@media (max-width:500px)
{
    *{
        margin: 0;
    }
    html,body{
        overflow-x: hidden;
    }
    body 
        {
            
            position: relative;
            background-image: url(fundoconv.jpg);
            background-position: center center;
            background-size: cover;
            background-color: var(--corfundo);
            height: 98vh;
            width: 100vw;
            
        }
    div.container{
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    
    div.Mct{
        position: relative;
        width: 99%;
        height: 99%;
        
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        
    }
    div.gambssec{
        display: flex;
            flex-direction: column;
    }
    div.gambs{
        display: flex;
            flex-direction: column;
    }
    img.seta{
        transform: rotate(90deg);
    }
    div.ext1.lat{
        height: 70px;
    }
    section.res {
        background-color: var(--coraux);
        
        
        color: #fff;
        font-size: 30px;
        font-weight: bolder;
        border-radius: 15px;
    
        display: none;
        
        top: 90%;
        width: 100px;
        height: 50px;
        }
    
    .res.active 
    {
    position: absolute;
    left: 40%;
    margin: 0;
    background-color:rgb(3, 164, 204) ;
    width: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100px;
    border-radius: 0px 0px 0px 0px;

    }
    div.ext2.lat{
        height: 0;
    }
}
