@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
*{
    font-family: 'Open Sans', Helvetica, sans-serif;
    text-align: justify;
    color: #fff;
}

::-webkit-scrollbar{
    display: none;
}

/*Corpo e Parallax */ 
body{
    background-color: rgb(95, 149, 201);
    min-height: 100vh;
    min-width: 400px;
    background-image: url('fundoParallax/pexels-nino-souza-2800552.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    transition: all 0.1s;
}

header{
    margin:0;
    padding: 5px;
    transition: all 0.1s;
}
header> h1{
    margin: 0;
}

main{
    max-width: 100%;
    margin: 15px;
}
div.apresent{
    text-indent: 10px;
    width:450px;
   
}


/*Display da Hora */
div#hora{
    text-align: center;
    font-family:'Oswald',sans-serif;
    font-weight: bolder;
    font-size: 45px;
    color: #fff;
    margin: 0;
}
a{
    margin: 10px;
    color: #ffffff;
}
hr{
    margin: 0;
    height: 5px;
    border: none;
    background-color: rgb(126, 125, 125);
}
h1{
    color: white;
}
h2{
    color: aliceblue;
}

/*Botão de ler mais*/ 
div.container{
    display: flex;
    flex-direction: row;
}
.card{
    text-align: left;
    background-color: #299da5;
    margin: 15px;
    width:270px;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    opacity: 0;
    filter: blur(5px);
   transform: translateX(-100%);
    transition: all 1s;
}
div.conta{
    height: 50px;
    text-align: left;
    overflow: hidden;
    position: relative;
    transition: all 1s;
    
}
div.conta>p{
    text-align: center;
}
.card.um.active .conta{
    height: 600px;
    transition: all 1s;
}
.card.tres.active .conta {
    height: 300px;
    transition: all 1s;
}
.card.active.conta::before{
    visibility: hidden;
    transition: all 1s;
}

.conta p{
    color:#ffffff;
}

.conta.ct{
    height: 0;
}

.ler{
    border: none;
    width: 110px;;
    padding: 10px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: #D1C6A1;
    color: #313131;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.2s ease-in-out;}

#ler:hover{
    background-color: transparent;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
}
/*Transição*/
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion){
    .card{
        transition: none;
    }
}
.link{
    text-align: right;
}
.img{
    width: 50px;
    height: 50px;
}

/*scroll da seta*/
.card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    right: 46%;
    margin: 50px;
}

div.hidden2{
    display: none;
}
div.hidden2.active{
    display: block;
}

/*Seta*/
div.ler2{
    background-image: url('fundoParallax/setaPraBaixo\ \(2\).png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    width: 150px;
    border: none;
    transition: 0.3s all;
}
div.ler2:hover{
    cursor: pointer;
    transition: 0.3s all;
}
div.ler2.active{
    transform: rotate(180deg);
    transition: 0.3s all;
}

div.ler2.active:hover{
    transition: 0.3s all;
}

img{
    height: 100px;
    width: auto;
}
section#sec{
    background-color: #37DFEB;
    border-radius: 15px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.671);
    font-weight: bolder;
    width: -moz-fit-content;
    width: fit-content;
    margin: 5px;
    padding: 8px;

}
/*Apresentação dos projetos*/
div.hidden2>h2{
    background-color: #3131318a;
    text-align: center;
}
div.eta{
    width: 700px;
    display: flex;
    justify-content: space-between;
}
ul{
    display: inline-block;
}

li.item{
    background-color: #313131;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.534);
    display: flex;
    text-decoration: none;
    width: 150px;
    height: 45px;
    border-radius: 2px;
    text-align: center;
    margin: 10px;
    padding:5px;
    transition: all 0.5s ease-in-out;

}

li.item:hover{
    background-color:#31313196;
    transition: all 0.4s ease-in-out;
    transform: translateY(-15%) translateX(20%);
}
footer{
    margin: auto;
    text-align: center;
}

@media (max-width:1200px) 
{
    body
    {
        background-image: url('fundoParallax/fundoMob.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    div.eta{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

}